.cube-container {
  width: 100%;
}

.aboutcube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  padding: 2rem;
}

.aboutcube h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--title);
  text-shadow: 3px 3px 5px black;
}

.aboutcube h1 span {
  color: var(--accent);
}

.about-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: auto;
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  padding: 2rem;
  border-top: 1px solid var(--border);
}

.about-footer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--title);
  text-shadow: 3px 3px 5px black;
  text-align: left;
  color: var(--accent);
}

.about-footer img {
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.about-footer ul {
  gap: 10px;
  list-style: none;
}

.about-footer li {
  display: flex;
  align-items: center;
}

.about-footer a {
  text-decoration: none;
  color: var(--text);
}
