.champions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  padding: 2rem;
}

.champions h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: var(--title);
  text-shadow: 3px 3px 5px black;
}

.champions h1 span {
  color: var(--accent);
}

.champions p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--text);
}
